@model List<HR.UI.Models.Employees.EmployeeListViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            FirstName: <input type="text" name="FirstName" value="@ViewData["FirstName"]" />
            LastName: <input type="text" name="LastName" value="@ViewData["LastName"]" />
            <input type="submit" value="Search" class="btn btn-light" />
        </p>
    </div>
</form>

<table>
    <tr>
        <td><a class="btn btn-success" asp-area="" asp-controller="Employees" asp-action="Create" asp-route-Id="@ViewBag.Id">Create</a></td>
    </tr>

</table>
@if (@Model.Count == 0)
{
    <p>There are no Books</p>
}
else
{
    <table class="table table-striped table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Personal Id</th>
                <th>Job Position</th>
                <th>Birth Date</th>
                <th>Status</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="width:100%">
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.PersonalId</th>
                    <th>@item.JobPosition</th>
                    <th>@item.BirthDate.ToString("d")</th>
                    <th>@item.Status</th>
                    <th>@item.Gender</th>
                    <th style="width: 10%"><a class="btn btn-info" asp-area="" asp-controller="Employees" asp-action="Update" asp-route-id="@item.Id">Edit</a></th>
                    <td style="width: 10%"><a class="btn btn-danger" asp-area="" asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
